@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: absolute;
  color: black;
  text-align: center;
  background: white;
  border-radius: 25px;
  padding: 20px;
  font-family: 'Pacifico', cursive; /* Apply the font here */
  font-size: 2em;
}

.line-and-text {
  display: flex;
  align-items: center; /* This will vertically align the line and the text */
}

.line {
  width: 4em; /* This will make the line take up as much space as it can */
  border: none; /* Removes the default border */
  border-top: 8px solid black; /* Adds a 2px border on top, effectively making the line 2px thick */
  margin-left: 20px;
}
